/*
Color theme : Colors borrowed from VS code
VS code blue = 569CD6
VS code lightBlue = 9CDCFE
VS code orange = CE9178
VS code white = CED4D4
VS code green = 6A9955
VS code darkModeBack = 1E1E1E
VS code greyMarked = 37373D
VS code yellow = D7BA7D
*/


h1{
    color: #569CD6;
    text-align: center;
    font-size: 40px;
}
h2{
    color: #569CD6;
    text-align: center;
    font-size: 35px;
}
p{font-size: 15px; color: #6A9955;}

/* My Competence */
.Values{ padding-top: 5px; padding-bottom: 5px; }

.Novice{width: 20%; background-color: #9CDCFE;}
.AdvBeg{width: 20%; background-color: #CE9178;}
.Comp{width: 20%; background-color: #D7BA7D;}
.Expert{width: 20%; background-color: #6A9955;}
.Bars{
    width: 80%;
    background-color: #1E1E1E;
    padding: 0px 0px 10px;
}
.Competence{
    padding-top: 7px;
    padding-bottom: 2px;
    color: white;
}
.CSharp {width: 23%; background-color: #9CDCFE;}
.Python {width: 18%; background-color: #9CDCFE;}
.Html {width: 15%; background-color: #9CDCFE;}
.Css {width: 15%; background-color: #9CDCFE;}
.Js {width: 13%; background-color: #9CDCFE;}
.Xaml {width: 12%; background-color: #9CDCFE;}
.Git {width: 18%; background-color: #9CDCFE;}
.Vs {width: 22%; background-color: #9CDCFE;}
.Wp {width: 26%; background-color: #CE9178;}
.Seo {width: 28%; background-color: #CE9178;}



blockquote{
    border: none;
    margin-bottom:-30px;
    quotes: "\0022""\0022""\0022""\2019";
    position: relative;
}
    blockquote h4:before { 
        content: open-quote;
        font-weight: bold;
        font-size:70px;
        color:#CE9178;
    } 
    blockquote h4:after { 
    content: close-quote;
    font-weight: bold;
    font-size:70px;
    color:#CE9178;
    }
html{background-color: #CED4D4; scroll-behavior: smooth; }

/* HEAD   */

    #frontBackground{
        width: 100%;
        background-color: #CED4D4;
        background-image: url("testCode.png");
        background-repeat: no-repeat;
        background-size: cover;  
    }
    #frontDiv{
        width: 50%;
        color: #569CD6;
        text-align: center;
        background-color: #1E1E1E;
        padding: 30px;
        font-size: 30px;
        font-weight: 800;  
        border-radius: 5px;
        opacity: 0.8;
    }
    .MediaWrap{
        font-size: 43px;
        position: fixed;
        right: 5%;
        z-index: 1;
    }
    .fa
    {
        padding: 2px;
        text-align: center;
        margin: 2px 5px;
        border-radius: 33px;
        text-decoration: none;
    }
    .fa-github{ color: #333;}
    .fa-github:hover{ opacity: 0.4;}
    .fa-linkedin{color: #0077b5;}
    .fa-linkedin:hover{ opacity: 0.4; }
    #quotePush{ width: 33%; }
    .Quote{
        width: 43%;
        color: #6A9955;
        text-align: left;
        background-color: #37373D;
        padding: 10px;
        font-size: 25px;
        font-weight: 800;  
        border-radius: 2px;
        opacity: 0.85;
    }
.PushS{width: 5%;}
.PushM{width: 10%;}
.LPush{width: 20%;}
.Distance{padding: 95px; position: relative;}
.SDistance{padding: 22px; position: relative;}
.MDistance{padding: 60px; position: relative;}
.WrapUp{display: flex; width: 100%; }
.WrapUp a{ text-decoration: none; text-align:center; }

/* BODY */
.MySpan{font-size: 33px; color:#CE9178; }
    #abtClick{
        width: 16%;
        padding: 150px;
        background-color: #E1E3E0;
        background-image: url("mee.png") ; 
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;

        font-size: 43px;
        font-weight: bold;
       }
       #abtClick:hover{  opacity: 0.7; }
    #skillClick{
        width: 16%;
        padding: 150px;
        background-color: #E1E3E0;
        background-image: url("skillss.png") ; 
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
        #skillClick:hover{ opacity: 0.7; }
    #moreClick{
        width: 16%;
        padding: 150px;
        background-color: #E1E3E0;
        background-image: url("intrs.png") ;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;  
    }
        #moreClick:hover{ opacity: 0.7; }
    #abtMe{
        width: 60%;
        background-color:#37373D;
        font-size: 25px;
        color: #CE9178;
        text-align: left;
        opacity: 0.9;
        text-indent: 0px;
        padding: 40px;
        border-radius: 2px;
    }
    #mySkill{
        width: 60%;
        background-color:#37373D;
        font-size: 25px;
        color: white;
        text-align: center;
        opacity: 0.8;
        text-indent: 2px;
        padding: 40px;
    }
    #enjoys{
        width: 60%;
        background-color:#37373D;
        font-size: 25px;
        color: white;
        text-align: center;
        opacity: 0.8;
        text-indent: 2px;
        padding: 40px;
        border-radius: 2px;

    }